<!-- drawer.begin -->
<div id="drawer_wrapper">
  <!-- ハンバーガーメニュー --> 
  <div id="hamburger_icon">
      <span class="yum"></span>
      <span class="yum"></span>
      <span class="yum"></span>
    <!-- 飛び出すメニュー(以下を書き換え) -->
    <nav class="menuitems">
      <ul>
        <li>aaa</li>
        <li>bbb</li>
        <li>ccc</li>
      </ul>
    </nav>
  </div>
  <!-- 透明な背景ウィンドウ(閉じる専用) -->
  <div id="drawer_background"></div>
</div>
<!-- drawer.end -->